## Python stuff
*.pyc
venv

## Model stuff
models/apogee_kurucz
models/marcs

## LaTeX stuff
manual/Manual_fasma.aux
manual/Manual_fasma.log
manual/Manual_fasma.tex.backup

## Other stuff
*.log
*.dat
*.moog
*.cfg
!StarMe_synth.cfg
