## Python stuff
*.pyc
venv

## Model stuff
models/apogee_kurucz
models/marcs

## Data
spectra/*
!spectra/Sun_HARPS.fits

## LaTeX stuff
manual/Manual_fasma.aux
manual/Manual_fasma.log
manual/Manual_fasma.tex.backup

## FASMA
out.atm
*.dat
*.moog
*.cfg
!StarMe_synth.cfg
batch.par
*.out
*.spec

## Other stuff
*.log
